@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


    <div class="row pageheading">
        <h5>Cash Bash 2019 - Viva Las Vegas Bash</h5>
    </div>
    <div class="row pageheading">
        <h6 class="formheading">Add Dealer Pulls Kept</h6>
    </div>
    <form action="SaveDealerPullKept" method="post" class="inputform">
        <div class="col-md-12">
            <div class="form-group row">                
                <label class="col-xs-6" for="select">Please select a dealer:  Search / Dealer# :</label>
                <div class="col-md-2">
                    <input name="text" type="text" class="form-control">
                </div>
                <div class="col-md-4">
                    <select name="select" class="custom-select">
                        <optgroup>                            
                            <OPTION value=91491>ACCARDI DODGE (91491) </OPTION>
                            <OPTION value=91284>ACCARDI MILROT (91284) </OPTION>
                            <OPTION value=10991>ACURA AND BMW OF COLUMBUS (10991) </OPTION>
                        </optgroup>
                    </select>
                </div>
               
            </div>
        </div>
        <hr>
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="select">Address: </label>

                <p id="something" class="col-md-5 col-form-label formtext">6549 WHITTLESEY BLVD-COLUMBUS, GA 31902</p>
                <label class="col-md-2 col-form-label" for="select">Field Rep: </label>
                <p id="something" class="col-md-2 col-form-label formtext">JACK NORDEN</p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="select">Phone: </label>
                <p id="something" class="col-md-2 col-form-label formtext">99999 88888</p>
                <label class="col-md-1 col-form-label" for="select">Fax: </label>
                <p id="something" class="col-md-2 col-form-label formtext">99999 88888</p>
                <label class="col-md-2 col-form-label" for="select">Territory: </label>
                <p id="something" class="col-md-2 col-form-label formtext">myTerritory</p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group row">
                <div class="col-md-4"></div>
                <label class="col-md-2 col-form-label" for="select">Lawson Vendor ID: </label>
                <div class="col-md-2">
                    <input name="text" type="text" class="form-control">
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <hr>
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="select">Dealer Pulls: </label>
                <div class="col-md-2">
                    <input name="text" type="text" class="form-control">
                </div>
                <label class="col-md-2 col-form-label" for="select">Dealer Points: </label>
                <div class="col-md-2">
                    <input name="text" type="text" class="form-control">
                </div>
                <label class="col-md-2 col-form-label" for="select">Points Purchased: </label>
                <div class="col-md-2">
                    <input name="text" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="select">Trips Won: </label>
                <div class="col-md-1">
                    <input name="text" type="text" class="form-control">
                </div>
                <label class="col-md-2 col-form-label" for="select">Dinner Only Trips Won: </label>
                <div class="col-md-1">
                    <input name="text" type="text" class="form-control">
                </div>
                <label class="col-md-2 col-form-label" for="select">Trips Purchase: </label>
                <div class="col-md-1">
                    <input name="text" type="text" class="form-control">
                </div>
                <label class="col-md-2 col-form-label" for="select">Trips Purchase: </label>
                <div class="col-md-1">
                    <input name="text" type="text" readonly="readonly" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group row">
                <div class="col-md-3"></div>
                <label class="col-md-1 col-form-label" for="select">Notes: </label>
                <textarea name="notes" form="usrform" class="col-md-4"></textarea>
                <div class="col-md-3"></div>
            </div>
        </div>
        <hr>
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-form-label" for="select">Pulls: </label>
                <div class="col-1">
                    <input name="text" type="text" class="form-control">
                </div>
                <label class="col-form-label" for="select">Split: </label>
                <div class="col-1">
                    <input name="text" type="text" class="form-control">
                </div>
                <label class="col-form-label" for="select">Master:</label>
                <div class="col-1">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">
                    </label>
                </div>
                <label class="col-form-label" for="select">Dealer Rep:</label>
                <div class="col-1">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">
                    </label>
                </div>
                <label class="col-form-label" for="select">Absentee/NoShow:</label>
                <div class="col-1">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">
                    </label>
                </div>
                <label class="col-form-label" for="select">Dinner Only:</label>
                <div class="col-1">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">
                    </label>
                </div>
            </div>
            <div class="form-group row form-actions">
                <div class="col-5"></div>
                <div class="col-2">
                    <button name="submit" type="submit" class="btn btn-primary">Save</button>
                </div>
                <div class="col-5"></div>
            </div>
        </div>
    </form>
