@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div class="row pageheading">
    <h5>Cash Bash 2019 - Viva Las Vegas Bash</h5>
</div>
<div class="text-primary text-left">
    <h6>Winner Titles</h6>
</div>
<div id="divmessage" style="height:300px; display:none" class="row pageheading"><span id="successmsg">User successfully added!</span></div>

<div class="col form-control-sm h-auto" id="formAddUser">
    <form id="addUser">
        </form>
</div>